@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
	}
	body{
		background: url(logo.png);
		background-size: cover;
	}
	.capa{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: rgba(243, 70, 70, 0.863);
		z-index: -1;
		top: 0;left: 0;
	}
	/*Estilos para el encabezado*/
	.header{
		width: 100%;
		height: 100px;
		position: fixed;
		top: 0;left: 0;
	}
	.container{
		width: 90%;
		max-width: 1200px;
		margin: auto;
		/*background-color: #837d7d;*/
	}
	.container .btn-menu, .logo{
		float: left;
		line-height:100px;
	}
	.container .btn-menu label{
		color: #e20f0f;
		font-size: 25px;
		cursor: pointer;
	}
	.logo h1{
		color: #e20f0f;
		font-weight: 800;
		font-size: 44px;
		margin-left: 10px;
	}
	.container .menu{
		float: right;
		line-height: 100px;
	}
	.container .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: #e20f0f;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 20px;
		margin-right: 5px;
	}
	.container .menu a:hover{
		border-bottom: 2px solid #080808;
		padding-bottom: 5px;
	}
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgb(233, 69, 69);
		width: 18%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 10ms ease;
		visibility: hidden;
		z-index: 2;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 200px;
		background: #f00606;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
		z-index: 2;
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;	
		text-decoration: none;
		padding: 15px;
		color: #ffffff;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #ffffff;
		background: #ffffff;

	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 8px;
		color: #ffffff;
		cursor: pointer;
		font-size: 13px;
	}
	/*Fin de Menù lateral*/
	.container div{
		
	}